h1{
    margin-left: 730px;
}

h2{
    margin-left: 765px;
}

.wrap{
    white-space: pre-line;
    box-decoration-break: clone;
    margin-left: 630px;
}
#power{
    margin-left: 882px;
}
#resilient{
    margin-left: 898px;
}
#sailing{
    margin-left: 855px;
}