h1{
    margin-left: 730px;
    color: whitesmoke;
}

h2{
    margin-left: 765px;
    color: whitesmoke;
}
t{
    color: whitesmoke;
}
body{
    background-color:#323232;
}
.wrap{
    white-space: pre-line;
    box-decoration-break: clone;
    margin-left: 630px;
}
#power{
    margin-left: 882px;
}
#resilient{
    margin-left: 898px;
}
#sailing{
    margin-left: 855px;
}