h1{
    margin-left: 715px;
}

h2{
    margin-left: 840px;
}

.wrap{
    white-space: pre-line;
    box-decoration-break: clone;
    margin-left: 630px;
}
#efficient{
    margin-left: 830px;
}
#resilient{
    margin-left: 880px;
}
#sailing{
    margin-left: 855px;
}