p{
     font-size:30px;
     padding: 20px 20px 20px 20px;
     display: inline;
     width: 200px;
     background: red;
}
ul{
     display: inline;
     background: red;
}
h1{
     margin-left: 1800px;
     display: inline-block;
}
header{
     padding: 0 0 0 0;
     margin:-8px -8px 0 -8px;
     background:  red;
}