p{
     display: inline;
     font-size:30px;
     background: blue;
     padding: 20px 20px 20px 20px;
     width: 200px;
     color: whitesmoke;
}
ul{
     display: inline;
     background: blue;
     color: whitesmoke;
}
h1{
     display: inline-block;
     margin-left: 18px;
     color: whitesmoke;
}
header{
     padding: 0 0 0 0;
     margin:-8px -8px 0 -8px;
     background:  blue;
}
body{
     background-color:#323232;
}