h1{
    margin-left: 715px;
}

h2{
    margin-left: 740px;
}
.wrap{
    white-space: pre-line;
    box-decoration-break: clone;
   margin-left: 630px;
}
#passion{
    margin-left: 790px;
}
#performance{
    margin-left: 850px;
}