h1{
    margin-left: 715px;
    color: whitesmoke;
}

h2{
    margin-left: 740px;
}
p{
    margin-left: 500px;
}
.wrap{
    white-space: pre-line;
    box-decoration-break: clone;
    margin-left: 630px;
}
h2{
    margin-left: 1px;
    color: whitesmoke;
}
t{
    color: whitesmoke;
}
body{
    background-color:#323232;
}
#passion{
    margin-left: 790px;
}
#performance{
    margin-left: 850px;
}
#environment{
    margin-left: 740px;
}